$black: rgba(5, 5, 5, 1);
$dark-gray: rgba(33, 33, 33, 1);
$gray: rgba(80, 80, 80, 1);
$light-gray: rgba(225, 225, 225, 1);

$white: rgba(255, 255, 254, 1);

$dark-turq: rgba(29, 138, 153, 1);
$turq: rgba(11, 201, 205, 1);
$light-turq: rgba(20, 255, 247, 1);

$light-blue: rgba(143, 191, 224, 1);
$blue: rgba(113, 161, 194, 1);
$dark-blue: rgba(83, 131, 164, 1);

$purple: rgba(124, 119, 185, 1);

$z-backdrop: 9000;
$z-modal: 10000;
